.alert-card {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color:
        #52584D;
    font: inherit;
}


.alert-message {
    color: white;
}