.individual-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    margin: 1rem;
    background-color:
        #B5A4A3;
}


.plant-to-water {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.individual-alert h2 {
    color: #3a3a3a;
    font-size: 1rem;
    margin: 0 .2rem 0 .5rem;
    color: white;
}

.individual-alert button {
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    background-color:
        #B5A4A3;
    position: relative;
    top: -10px;
    right: -7px;
}